.input-field{
    padding: 30px;
}

#form1{
    box-sizing: content-box;
    border: 5px solid black;
    border-radius: 15px;
}

.ng{
    border-radius: 5px;
    width: 250px;
}

label{
    float:none ;
}